exportPattern("^[[:alpha:]]+")

importFrom(plyr, "is.formula", "llply", "mlply")
importFrom(doSNOW, "registerDoSNOW")
importFrom(parallel, "makeCluster", "stopCluster", "detectCores", "clusterExport", "clusterEvalQ")